#timeline-video-canvas {
    background: rgba(0,0,0,0.9);
    flex-grow: 1;
    overflow: auto;
}
#timeline-video-canvas video {
    width: 100%;
    height: 100%;
}
#timeline-video-canvas .timeline-video {
    height:350px;
}
#timeline-video-canvas .timeline-video.no-video{
    background-color: #1f80f9;
    border-bottom: 1px inset #fff;
}
#timeline-video-canvas.show-only-playing .timeline-video.no-video{
    display: none;
}
#timeline-bottom-strip {
    background: rgba(0,0,0,0.8);
    height: 93px;
    overflow: hidden;
}
#timeline-bottom-strip * {
    transition: none;
}
#timeline-bottom-strip .vis-timeline {
    visibility: visible!important;
}
