<main class="container page-tab pt-3" id="tab-chainManager">
    <form class="dark row">
        <%
          var drawBlock
          var buildOptions
        %>
        <%
          include fieldBuilders.ejs
        %>
        <% Object.keys(define['Chain Manager'].blocks).forEach(function(blockKey){
              var theBlock = define['Chain Manager'].blocks[blockKey]
              drawBlock(theBlock)
          }) %>
    </form>
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.chainManager.css" />
    <script src="<%-window.libURL%>assets/js/bs5.chainManager.js"></script>
</main>
