<main class="page-tab pt-3" id="tab-reportManager">
   <form class="dark row">
       <%
         var drawBlock
         var buildOptions
       %>
       <%
         include fieldBuilders.ejs
       %>
       <%
           var pageName = 'Report Manager';
           Object.keys(define[pageName].blocks).forEach(function(blockKey){
               var pageLayout = define[pageName].blocks[blockKey]
               drawBlock(pageLayout)
           })
       %>
   </form>
   <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.reportManager.css" />
   <script src="<%-window.libURL%>assets/js/bs5.reportManager.js"></script>
</main>
